@font-face {
  font-family: 'MyFont';
  src: url('./SourceHanSansSC-Normal.otf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./410581.png');
}
